*{
    padding: 0;
    margin: 0;
    
}

.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-items {
    display: flex;
    gap: 20px;
    margin-right: 5%;
}

.list-item {
    list-style-type:none;
       
}

.list-item a{
    text-decoration: none;
    color: black;
}

.hero-sub{
    text-align: center;
    width: 70%;
    margin: auto;
}

.hero-sub h1{
    font-size: 40pt;
}

.hero-sub p{
    font-size: 14pt;
}

