* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
}

#nav-items {
    display: flex;
    gap: 20px;
    margin-right: 5%;
}

.list-item {
    list-style-type: none;

}

.list-item a {
    text-decoration: none;
    color: black;
}

.hero-sub {
    text-align: center;
    width: 70%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  
}

.hero-sub h1 {
    font-size: 40pt;
}

.hero-sub p {
    font-size: 14pt;
}

/* .three-images-main {
    width: 100%;
} */

.three-images{
    display: flex;

}

.three-images img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.image{
    flex: 2;
}

.values-main{
    display: flex;
    padding: 10%;
    width: 90%;
    margin: auto;
    background-color: #F7F5F4;
    margin-bottom: 6rem;

}

.image-values img{
    width: 100%;
}

.values-main{
    display: flex;
    justify-content:center
    width: 100%;
}

.values-main-sub{
    display: flex;
}


.image-values{
    width: 50%;
    margin-left:;

   
}

.text-values{
    width: 50%;
    text-align: left;
    

}

.newsletter-main{
display: flex;
justify-content: center;
height: 100vh;
background-color: #333C4E;
padding-top: 4rem;
}

.newsletter-main h2{
color: white;
}

.newsletter-main h1{
    color: white;
}


form{
    text-align: center;
    width: 90%;

}

input{
    width: 100%;
    padding: 15px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 3rem;
}

.submit-container{
    text-align: left;
}

input[type="submit"]{
    padding: 10px 20px ;
    margin-top: 10px;
    width: fit-content;
    background-color: #f0b066;
    border: none;
    color: white;
    cursor: pointer;
}

hr{
    border: none;
    border-top: 2px solid #EF9A3D;
    width: 100px;
    margin: 40px auto;
}